# Ignore build directories
**/*.o
**/*.out
**/*.exe
**/*.a
**/*.so
**/*.dll

# Ignore Visual Studio Code settings
**/.vscode/

# Ignore directories content
workspace/*
!workspace/**/
!workspace/**/.gitkeep

test/*
!test/.gitkeep